body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
  border-bottom: solid;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}

a{
  font-weight: bold;
  text-decoration : none;
}

h1>span{
  font-style: italic;
  color: gray;
  display: block;
}

h1{
  font-size: 400%;
  border-bottom: solid;
}
 
header{
  border-bottom: thin solid;
 }
 
 img{
  width: 12px;
  height: 13;
 }